<div class="col-xl-3 order-xl-1">
    <div class="jumbotron">
        <h3 style="text-align: center">Community News</h3>
        <hr>
        <div class="card">Nothing Here Yet</div>
    </div>
</div>
<div class="col-xl-3 order-xl-3">
    <div id="last" class="jumbotron">
        <h3 style="text-align: center">External Links</h3>
        <hr>
        <a href="http://phas.ucalgary.ca/">
            <button type="button" class="btn btn-secondary" id="sideButton">Department of Phys. and Astro.</button>
        </a>
        <a href="http://people.ucalgary.ca/~physastr/research">
            <button type="button" class="btn btn-secondary">Undergraduate Reserch</button>
        </a>
        <h3 style="text-align: center; margin-top: 10px">Notifications</h3>
        <hr>
        <div class="card">We are still looking for peer tutors. If you qualify to tutor a first year <b>physics/ astro/ calc/
                lin alg</b> course, we want you!</div>
        <div class="embed-responsive" style="margin-top: 15px">
            <a class="twitter-timeline" data-height="520px" data-dnt="true" data-theme="dark" href="https://twitter.com/UCalgaryPASA?ref_src=twsrc%5Etfw">Tweets
                by UCalgaryPASA</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>