        <div class="col-lg-3 order-lg-1">
            <div class="jumbotron">
                <h3 style="text-align: center">Community News</h3>
                <hr>
                <div class="card">Nothing Here Yet</div>
            </div>
        </div>
        <div class="col-lg-3 order-lg-3">
            <div class="jumbotron">
                <h3 style="text-align: center">External Links</h3>
                <hr>
                <a href="http://phas.ucalgary.ca/">
                    <button type="button" class="btn btn-secondary" style="margin-bottom: 15px">Department of Phys. and Astro.</button>
                </a>
                <a href="http://people.ucalgary.ca/~physastr/research">
                    <button type="button" class="btn btn-secondary">Undergraduate Reserch</button>
                </a>
            </div>
        </div>
    </div>
</div>