.jumbotron {
    background: rgba(131, 131, 131, 0.623); 
    border-radius: 2px; 
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*
    Uncomment to make boxes the same height
    height: calc(100% - 15px);
    */
}
.card {
    /* set box color */
    background-color: #6c757d;
    padding-left: 5px;
}
body *, .btn-secondary {
    /* set text color */
    color: #212529
}
b {
    display: contents;
}
@media (max-width: 991px) {
    .jumbotron {
        margin-bottom: 0px
    }
    #last {
        margin-bottom: 15px;
    }
}