.jumbotron {
    background: rgba(131, 131, 131, 0.623); 
    border-radius: 2px; 
    margin-top: 15px;
    margin-bottom: 0px;
    height: 100%;
}
.card {
    background-color: #6c757d;
}
.btn-secondary {
    color: #212529
}